[data-partyname='alp'] { background-color: #b51800; color: #b51800; }
/*[data-partyname='LNP'] { background-color: #FCDD03; color: #FCDD03; }
*/[data-partyname='grn'] { background-color: #298422; color: #298422; }
[data-partyname='ag'] { background-color: #298422; color: #298422; }
[data-partyname='ind'] { background-color: #B3B3B4; color: #B3B3B4; }
[data-partyname='Pending'] { background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKklEQVQIW2N8+PDhGQYoOHnyJAMjTADEMTc3hwjAOCCFjKtWrToDkoEBAG1vFhyE06BwAAAAAElFTkSuQmCC) repeat; color: #B3B3B4; }
[data-partyname='pup'] { background-color: #7D0069; color: #7D0069; }
[data-partyname='kap'] { background-color: #b814d9; color: #b814d9; }
[data-partyname='lnp'] { background-color: #005689; color: #005689; }
[data-partyname='lib'] { background-color: #005689; color: #005689; }
[data-partyname='coal'] { background-color: #005689; color: #005689; }
[data-partyname='cln'] { background-color: #005689; color: #005689; }
[data-partyname='lp'] { background-color: #005689; color: #005689; }
[data-partyname='np'] { background-color: #197caa; color: #197caa; }
[data-partyname='clp'] { background-color: #005689; color: #005689; }
[data-partyname='nat'] { background-color: #197caa; color: #197caa; }
[data-partyname='nxt'] { background-color: #e6711b; color: #e6711b; }
[data-partyname='xen'] { background-color: #e6711b; color: #e6711b; }
[data-partyname='other'] { background-color: #b3b3b3; color: #b3b3b3; }
[data-partyname='onp'] { background-color: #ff9b0b; color: #ff9b0b; }
[data-partyname='sff'] { background-color: #b814d9; color: #b814d9; }

